 body{
  height: 100%;
  width: 100%;
  background-color: black;
  
  
  /* color: aqua; */
 }
 .card{
  background-color:#333;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  width: 400px;
  user-select: none;
  color: aliceblue;
  text-align: center;
  border: 2px solid ;
  
 }
 .card img{
  height: 150px;
  width: 150px;
  border-radius: 50%;
  
 }
 .parent{
  display: flex;
  flex-wrap: wrap;
 }

  